@media screen and (max-width: 940px){
    header{
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-size: 38px;
        text-align: center;
    }
    p{
        text-align: center;
        margin-left: 20px;
    }

    form{
        margin: 0 auto;
        width: 70%;
    }
    input[type="submit"]{
        align-self: center;
    }
    img{
        max-width: 100%;
       margin: 0 auto;
    }
    ul{
        text-align: center;
    }
    h1{
        margin-left: 50px;
    }
    footer{
        text-align: center;
    }
    aside{
        margin-top: -1px;
        margin-bottom: 15px;
    }
}
