@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inscreva-se-bnt{
    border: solid 1px rgb(138, 13, 201);
    padding: 10px;
    border-radius: 15px;
}

.inscreva-se-bnt:hover{
    background-color: rgb(138, 13, 201);
    color: white;
    box-shadow: 0 0 15px rgb(138, 13, 201), inset 0 0 15px rgb(138, 13, 201) ;
}

li{
    display: inline-block;
    margin: 20px;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

h1{
    font-weight: 500;
    margin-left: 30px;
}

h1:hover{
    cursor: pointer;
    text-shadow: 0 0 15px rgb(138, 13, 201);
}

main{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
}

aside{
  margin-top: 100px;
  margin-left: 30px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

.text-second{
    text-shadow: 0 0 15px rgb(138, 13, 201);
}

h2:hover{
    
    text-shadow: 0 0 15px rgb(138, 13, 201);
}

span{
    color: rgb(138, 13, 201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppins;
    font-weight: 400;
}

a{
    color: white;
}

a:hover{
    color:rgb(138, 13, 201);
    transition: 0.3s all;
    text-shadow: 0 0 15px rgb(138, 13, 201);
}

h2 abbr{
    text-decoration: none;
}

img{
    max-width: 500px;
    height: 580px;
    margin-left: 250px;
    margin-top: 100px;
}

form{
    display: flex;
    flex-direction: column;
    /* Essa largura é para limitar o input a 70% da "div Pai" Aside, sendo o form a "div Filho" */
    width: 70%;
}

input[type="submit"]{
    font-size: 18px;
    height: 50px;
    width: 100%;
    background-color: rgb(138, 13, 201);
    color: white;
    font-weight: bold;
}

input[type="submit"]:hover{ 
    cursor: pointer;
    box-shadow: 0 0 15px rgb(138, 13, 201), inset 0 0 15px rgb(138, 13, 201) ;
}

input{
    margin-top: 20px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px; 
}

footer{
    text-align: center;
    margin-top: 10px;
}

.attribution a{
   color: #b365fd93
}

.attribution a:hover{
    color:blueviolet;
}
